/* Global resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

/* App component */
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Welcome component */
.section-title {
  font-size: 3rem;
}

/* Login component */
.login-btn {
  width: 40%;
  margin-left: 25%;
}

.login-link {
  margin: 0 auto;
  display: inline-block;
}